body{
    background-color: #4FABFF;
    text-align: center;
}
.sans-serif {
    font-family: sans-serif;
}

#header {
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    width: 45%;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#header a {
    text-decoration: none;
    color: black;
}

#header a:hover {
    color: #35639d;
}

#header li{
    list-style-type: none;
    display: inline;
    font-size: 23px;
    color: #35639d;
}

.middle {
    padding-left: 10px;
    padding-right: 10px;
}

.outside-left {
    padding-right: 10px;
}

.outside-right {
    padding-left: 10px;
}

#admin_head {
    text-align: center;
}

#admin_head a {
    text-decoration: none;
    color: black;
}

#admin_head a:hover {
    color: #35639d;
}

#admin_head li{
    list-style-type: none;
    display: inline;
    font-size: 23px;
    padding: 10px;
    color: #35639d;
}
#main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    min-width: 1050px;
    width: 80%;
    padding: 15px;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#installer {
    text-align: left;
    background-color: white;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 600px;
    padding: 15px;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#installer form {
    width: 80%;
    margin: 0 auto;
}

#installer label, input {
    /* in order to define widths */
    display: inline-block;
}

#installer label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: left;
}

#admin {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    min-width: 1050px;
    width: 80%;
    padding: 15px;
    box-shadow: 0 5px 24px #111;
    text-align: left;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#login {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    min-width: 325px;
    width: 20%;
    padding: 15px;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#profile {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: left;
    min-width: 400px;
    width: 43%;
    padding: 15px;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#status{
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.request {
    text-align: left;
}

.data {
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}

.data a {
    text-decoration: none;
    color: black;
}

.data a:hover {
    color: gray;
}

/**
*  Message colors:
*/
.error {
    color: red;
}

.info {
    color: gray;
}

.success {
    color: green;
}

#footer {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    width: 45%;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#profile label{
    display: inline-block;
    width: 150px;
}

#admin label{
    display: inline-block;
    width: 300px;
}

#error{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: left;
    min-width: 400px;
    width: 43%;
    padding: 15px;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/**
*The following deals with the colorization of the hours in the monthly view
*/
.colors{
    width: 100%;
    height: 100%;
    display: block;
}
.zero{
    background-color: white;
}
.low{
    background-color: green;
}
.medium{
    background-color: yellow;
}
.high{
    background-color: orangered;
}
.veryhigh{
    background-color: darkred;
    color: white;
}